<main class="pt-50 profile-form">
  <div class="container-fluid">
    <h3 class="page-title">Add/Update User</h3>

    <form id="createUserProfile" name="createUserProfile">
      <div class="widget-card">
        <div class="row">
          <div class="col-lg-6 col-sm-12 pad-lr-40">
            <h2 class="widget-card-title">Credential Info</h2>
            <div class="form-row">
              <div class="col-md-12 form-group" for="firstname">
                <input type="text" id="firstname" name="FirstName" class="form-control" value="{{body.FirstName}}"
                  placeholder=" " />
                <label class="form-control-placeholder" for="firstname">First Name</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="lastname">
                <input type="text" id="lastname" , placeholder=" " name="LastName" class="form-control"
                  value="{{body.LastName}}" />
                <label class="form-control-placeholder" for="lastname">Last Name</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="displayname">
                <input type="text" id="displayname" placeholder=" " name="PublicScreenTag" class="form-control"
                  value="{{body.PublicScreenTag}}" />
                <label class="form-control-placeholder" for="displayname">Display name</label>
              </div>
            </div>
            <input id="county" type="hidden" name="Region">
            {{#if body.UserRoleID}}
            <input id="userRole" type="hidden" name="UserRoleID" value="{{body.UserRoleID}}">
            {{/if}}
            {{#if body.editUser}}
            <div id="hiddenDiv" hidden>1</div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="email">
                <input type="text" id="email" , name="editEmailAddress" placeholder=" " class="form-control"
                  value="{{body.EmailAddress}}" readonly />
                <label class="form-control-placeholder" for="email">Email</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="password">
                <input type="password" id="editPassword" placeholder=" " name="editUserPassword" class="form-control"
                  value="{{body.Password}}" readonly />
                <label class="form-control-placeholder" for="editPassword">Password</label>
              </div>
            </div>
            {{else}}
            <div id="hiddenDiv" hidden>2</div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="email">
                <input type="text" id="email" , name="EmailAddress" placeholder=" " class="form-control"
                  value="{{body.EmailAddress}}" />
                <label class="form-control-placeholder" for="email">Email</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="password">
                <input type="password" id="password" name="UserPassword" placeholder=" " class="form-control"
                  value="{{body.Password}}" />
                <label class="form-control-placeholder" for="password">Password</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="cpassword">
                <input type="password" id="cpassword" name="cUserPassword" class="form-control" placeholder=" " />
                <label class="form-control-placeholder" for="cpassword">Confirm Password</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-3 form-group">
                <div id="captcha">

                </div>
              </div>
              <div class="col-md-9 form-group" for="userCaptcha">
                <input type="text" id="userCaptcha" name="userCaptcha" class="form-control" placeholder=" " />
                <label class="form-control-placeholder" for="userCaptcha">Captcha</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 dropdown d-inline-block">
                <select class="dashboard-select" id="createUserRole" name="createUserRole">

                </select>
              </div>
            </div>
            {{/if}}
          </div>
          <div class="col-lg-6 col-sm-12 pad-lr-40">
            <h2 class="widget-card-title">Demographic Info</h2>
            <div class="form-row">
              <div class="col-md-12 form-group" for="organizationname">
                <input type="text" id="organizationname" name="OrganizationName" class="form-control"
                  value="{{body.OrganizationName}}" placeholder=" " />
                <label class="form-control-placeholder" for="organizationname">Organization Name</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="address1">
                <input type="text" name="AddressLine1" id="address1" class="form-control" value="{{body.AddressLine1}}"
                  placeholder=" " />
                <label class="form-control-placeholder" for="address1">Address Line 1</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="address2">
                <input type="text" name="AddressLine2" id="address2" class="form-control" value="{{body.AddressLine2}}"
                  placeholder=" " />
                <label class="form-control-placeholder" for="address2">Address Line 2</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="pincode">
                <input type="text" name="PostalCode" id="pincode" class="form-control" value="{{body.PostalCode}}"
                  placeholder=" " />
                <label class="form-control-placeholder" for="pincode">Postal code</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="city">
                <input type="text" name="City" id="city" class="form-control" readonly value="{{body.City}}" placeholder=" " />
                <label class="form-control-placeholder" for="city">City</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="country">
                <input type="text" name="Country" id="country" class="form-control" readonly value="{{body.Country}}"
                  placeholder=" " />
                <label class="form-control-placeholder" for="country">Country</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="state">
                <input type="text" name="State" id="state" class="form-control" readonly value="{{body.State}}"
                  placeholder=" " />
                <label class="form-control-placeholder" for="state">State</label>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 form-group" for="utctimezone">
                <input type="text" name="UTCTimeZone" id="utctimezone" readonly class="form-control" value="{{body.UTCTimeZone}}"
                  placeholder=" " />
                <label class="form-control-placeholder" for="utctimezone">UTC Time Zone</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-sm-12 pad-lr-40 border-0">
            <div class="form-submit-button">
              <button id="saveNewUserProfile" class="btn btn-primary btn-lg" type="submit">
                SAVE
              </button>
              <input type="button" name="cancelButton" class="btn btn-primary btn-lg cancel-btn"
                onclick="window.location.href = '/userLists';" value="CANCEL" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="clearfix"></div>
</main>
<script src="../../devJs/admin/createUser.js"></script>