<main class="pt-50 profile-form">
  <div class="container-fluid">
    <h3 class="page-title">Dashboard</h3>
  </div>
  <div class="event-listing border-bottom pb-3">
    <div class="container-fluid">
      <div class="row">
        {{!-- <div class="col"><h4 class="info-detail-title float-left">Intent Transaction History</h4></div> --}}
        <div class="col hide-box d-none d-xl-block"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col text-right">
          <span class="mright8 d-inline-block">From </span>
          <div class="input-group date calendar dashboard-calendar" id="id_4">
            <input type="text" class="form-control" required="" value="" id="oprationDashboardLastDate" readonly='true'>
            <div class="input-group-addon input-group-append">
              <div class="input-group-text greytext">
                <i class="fas fa-calendar-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-right">
          <span class="mright8 d-inline-block">To</span>
          <div class="input-group date calendar dashboard-calendar" id="id_5">
            <input type="text" class="form-control" required="" value="" id="oprationDashboardCurrentDate"
              readonly='true'>
            <div class="input-group-addon input-group-append">
              <div class="input-group-text greytext">
                <i class="fas fa-calendar-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="success-alert" id="date-alert"></div>
      </div>


      <div class="row">
        <div class="col widget-box">
          <div class=" bg-widgetblue d-flex no-block mtop20">
            <div class="m-r-20 align-self-center p10 pleft15"><img src="../images/intents.png" alt="Income"></div>
            <div class="align-self-center width80 mleft10 p10 widget-setting">
              <h6 class="text-white m-t-10 m-b-0 border-widgetblue pbottom5 text-ellipses">Intents Matched</h6>
              <h2 class="m-t-0 text-white" id="intentsMatched"></h2>
            </div>
          </div>
        </div>
        <div class="col widget-box">
          <div class="bg-widgetred d-flex no-block mtop20">
            <div class="m-r-20 align-self-center p10 pleft15"><img src="../images/follow.png" alt="Income"></div>
            <div class="align-self-center width80 mleft10 p10 widget-setting">
              <h6 class="text-white m-t-10 m-b-0 border-widgetred pbottom5 text-ellipses">Followup Requests</h6>
              <h2 class="m-t-0 text-white" id="followupRequests"></h2>
            </div>
          </div>
        </div>
        <div class="col widget-box">
          <div class="bg-widgetgreen d-flex no-block mtop20">
            <div class="m-r-20 align-self-center p10 pleft15"><img src="../images/current.png" alt="Income"></div>
            <div class="align-self-center width80 mleft10 p10 widget-setting">
              <h6 class="text-white m-t-10 m-b-0 border-widgetgreen pbottom5 text-ellipses">Intents/Minute</h6>
              <h2 class="m-t-0 text-white">01</h2>
            </div>
          </div>
        </div>
        <div class="col widget-box">
          <div class="bg-widgetblack d-flex no-block mtop20">
            <div class="m-r-20 align-self-center p10 pleft15"><img src="../images/intent-min.png" alt="Income"></div>
            <div class="align-self-center width80 mleft10 p10 widget-setting">
              <h6 class="text-white m-t-10 m-b-0 border-widgetblack pbottom5 text-ellipses">Unique User Count</h6>
              <h2 class="m-t-0 text-white" id="intentsPerMin"></h2>
            </div>
          </div>
        </div>
        <div class="col widget-box">
          <div class="bg-widgetwhite p15 mtop20">
            <div class="text-center environment-icon"><i class="fas fa-check-circle" style="color:#19caaa"></i></div>
            <div class="widget-title text-center">Azure SQL Heartbeat < 2 secs</div> </div> </div> </div> </div> </div>
                <div class="event-listing mt-40">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">
                      <h4 class="info-detail-title float-left">Intent Transaction History</h4>
                    </div>
                    <div class="col hide-box d-none d-xl-block"></div>
                    <div class="col"></div>
                    <div class="col">
                      <span class="mright8 d-inline-block">From </span>
                      <div class="dropdown d-inline-block">
                        <select class="dashboard-select " id="intent" name="intent">

                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="search-from fnone">
                        <input type="text" id="searchIntentTx" placeholder="Start typing to search..." class="wid100" />
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </div>
                    </div>

                  </div>


                  <div class="clearfix"></div>
                  <div class="table-responsive">
                    <table class="table table-striped" id="intentTXHistory">
                      <thead>
                        <tr>
                          <th class="bordernone">Time Stamp <i class="fa fa-sort" aria-hidden="true"></i>
                          </th>
                          <th class="bordernone">Server Instance Name <i class="fa fa-sort"
                              aria-hidden="true"></i></th>
                          <th class="bordernone">Language <i class="fa fa-sort" aria-hidden="true"></i></th>
                          <th class="bordernone">Country <i class="fa fa-sort" aria-hidden="true"></i></th>
                          <th class="bordernone">New User <i class="fa fa-sort" aria-hidden="true"></i></th>
                          {{!-- <th colspan="4" class="bordernone text-center">Time Interval <i class="fa fa-sort"
                              aria-hidden="true"></i></th> --}}
                        </tr>
                        {{!-- <tr class="sub-table">
                          <th>&nbsp;</th>
                          <th>&nbsp;</th>
                          <th>&nbsp;</th>
                          <th>&nbsp;</th>
                          <th>&nbsp;</th>
                          <th class="text-center">Days</th>
                          <th class="text-center">Hours</th>
                          <th class="text-center">Minutes</th>
                          <th class="text-center">Seconds</th>
                        </tr> --}}
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
            <div class="clearfix"></div>
</main>

<script src="../../devJs/admin/dashboard.js"></script>