<main class="pt-50 profile-form">
  <div class="container-fluid">
    <h3 class="page-title">Intent Management</h3>
  </div>

  <div class="event-listing mt-40">
    <div class="container-fluid">
      <div class="search-from float-left">
        <input type="text" id="searchIntent" placeholder="Start typing to search...." />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      {{!-- <div class="filter-list float-left ml-4">
            <label for="filter-intent" class="float-left mr-2">Filter by</label>
            <select class="custom-select" id="filter-intent">
              <option selected>Select</option>
              <option value="1">static</option>
              <option value="2">User Controlled</option>
              <option value="3">Active</option>
            </select>
          </div> --}}
      <div class="clearfix"></div>
      <div class="table-responsive">
        <table class="table table-striped intentManagmentDashboard" id="intentManagmentDashboard">
          <thead>
            <tr>
              <th>Intent Name <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th class="text-center">Total Volume <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th class="text-center">Platform <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th class="text-center">Compatible <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th class="text-center">Translated <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th style="width:140px; text-align:center">Static <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th style="width:180px; text-align:center">User Controlled <i class="fa fa-sort" aria-hidden="true"></i>
              </th>
              <th style="width:140px; text-align:center">Active <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Valid from <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Valid to <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</main>
<script src="../../devJs/admin/intentManagement.js"></script>