<main class="pt-50 profile-form">
  <div class="container-fluid">
    <h3 class="page-title">Intent Transaction Dashboard</h3>
  </div>
  <div class="info-display">
    <div class="container-fluid">

      <div class="row mbottom20">
        <div class="col">
          <h4 class="info-detail-title float-left mt-2">Intent Analytics</h4>
        </div>
        <div class="col hide-box d-none d-xl-block"></div>
        <div class="col"></div>
        <div class="col">
          <span class="mright8 d-inline-block">From </span>
          <div class="input-group date calendar" id="id_4">
            <input type="text" class="form-control" required="" value="" id="dashboardLastDate" readonly='true'>
            <div class="input-group-addon input-group-append">
              <div class="input-group-text greytext">
                <i class="fas fa-calendar-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <span class="mright8 d-inline-block">To</span>
          <div class="input-group date calendar" id="id_5">
            <input type="text" class="form-control" required="" value="" max="" id="dashboardCurrentDate"
              readonly='true'>
            <div class="input-group-addon input-group-append">
              <div class="input-group-text greytext">
                <i class="fas fa-calendar-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="success-alert" id="date-alert"></div>
      </div>
    </div>
    <div class="event-listingSmall">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6 col-xl-6">
                <canvas id="intentInputChart" style="width:100%;padding:2px;"></canvas>
              </div>
              <div class="col-sm-6 col-xl-6">
                <canvas id="volumeChart" style="width: 100%;padding:2px;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--table end-->
  </div>
  </div>

  <div class="event-listing mt-40">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="search-from fnone">
            <input type="text" id="searchIntentDashboard" placeholder="Start typing to search..." class="wid100" />
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" id="intentListDashboard">
              <thead>
                <tr>
                  <th>Inputs Intent <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                  <th class="text-center">ChangeInCount <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                  <th class="text-center">ChangeInCountPercent <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                  <th class="text-center">IntentCountLP <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                  <th class="text-center">IntentCountTP <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                  <th class="text-center">TrendIndicator <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="search-from fnone">
            <input type="text" id="searchIntent" placeholder="Start typing to search..." class="wid100" />
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
          <div class="table-responsive">
            <table class="table table-striped" id="intentList">
              <thead>
                <tr>
                  <th> Intent Name <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                  <th class="text-center"> Total Volume <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                  <th class="text-center"> Total Azure Search <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                  <th class="text-center"> Total Intent Request <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                  <th class="text-center"> Total Intent Response <i class="fa fa-sort" aria-hidden="true"></i>
                  </th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="clearfix"></div>
</main>
<script src="../../devJs/admin/settings.js"></script>
<script src="../../js/d3.min.js"></script>
<script src="../../js/Chart.min.js"></script>