<main class="pt-50 profile-form">
  <div class="container-fluid">
    <h3 class="page-title">User Management</h3>
  </div>

  <div class="event-listing mt-40">
    <div class="container-fluid">
      <div class="search-from float-left">
        <input type="text" id="searchUser" placeholder="Start typing to search...." />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>

      <div class="createnewuserBTN float-right">
        <input type="button" class="btn btn-primary btn-sm" onclick="window.location.href ='/addUser';"
          value="Create New User" />
      </div>

      <div class="clearfix"></div>
      <div class="table-responsive">
        <table id="userList" class="table table-striped">
          <thead>
            <tr>
              <th>Name <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Email <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Role <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Organization Name <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>City <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Country/ State <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- delete user popup -->
  <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the user?
        </div>
        <div class="modal-btn">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary float-right" id="confirmDelete">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!-- delete user popup end-->
  <div class="clearfix"></div>
</main>
<script src="../../devJs/admin/userList.js"></script>