<!-- ALERT-->
<div class="success-alert" id="success-alert">
  Web scraping has done successfully !
</div>
<div class="success-alert" id="translationSuccess-alert">
  Translation has done successfully !
</div>
<div class="success-alert" id="sitemapSrcapSuccess-alert">
  Sitemap scraping has done successfully !
</div>
<!-- ALERT END-->
<main class="pt-50 profile-form">
  <div class="container-fluid">
    <h3 class="page-title">Web Scraping</h3>
  </div>
  <!-- CONTENT-->
  <div class="container-fluid mt-40 webscraping">
    <div class="row">
      <div class="col-8">
        <div class="global-filters">
          <div class="filter-list float-left">
            <label for="filter-intent" class="float-left mr-2">Frequency by</label>
            <select class="custom-select capitalize" id="Frequency-intent"></select>
          </div>

          <div class="filter-list float-left ml-4">
            <label for="translate-language" class="float-left mr-2">Select Language</label>
            <select class="custom-select capitalize" id="Translate-Language"></select>
          </div>

          <button type="button" class="btn btn-primary btn-sm float-right" style="margin-top:-12px;margin-left:10px"
            id="updateTranslateData" data-toggle="modal" data-target="#webscrapModal" disabled>
            Translate
          </button>
          <button type="button" class="btn btn-primary btn-sm float-right" style="margin-top:-12px;" id="updateURLData"
            data-toggle="modal" data-target="#webscrapModal">
            Scraping
          </button>
          <button type="button" class="btn btn-primary btn-sm float-right" style="margin-top:-12px;" id="getSitemapData"
            data-toggle="modal" data-target="#siteMapwebscrapModal">
            Get Sitemap
          </button>
        </div>
        <div class="modal fade" id="siteMapwebscrapModal" tabindex="-1" role="dialog" aria-hidden="true"
          data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p id="siteMapWebscrapNotificationMessage"></p>
                {{!-- <div class="spinner-border" role="status">
                  <span class="sr-only"></span>
                </div> --}}
                <div class="sk-circle">
                  <div class="sk-circle1 sk-child"></div>
                  <div class="sk-circle2 sk-child"></div>
                  <div class="sk-circle3 sk-child"></div>
                  <div class="sk-circle4 sk-child"></div>
                  <div class="sk-circle5 sk-child"></div>
                  <div class="sk-circle6 sk-child"></div>
                  <div class="sk-circle7 sk-child"></div>
                  <div class="sk-circle8 sk-child"></div>
                  <div class="sk-circle9 sk-child"></div>
                  <div class="sk-circle10 sk-child"></div>
                  <div class="sk-circle11 sk-child"></div>
                  <div class="sk-circle12 sk-child"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="webscrapModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
          data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p id="notificationMessage"></p>
                <div class="progress">
                  <div id="dynamic"
                    class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated active"
                    role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    <span id="current-progress"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--GRID actions END-->
        <!-- frequency banner -->
        <marquee class="marquee" scrollamount="5">
          <ul id="intentInfo">
          </ul>
        </marquee>
        <!-- frequency banner end-->
        <div class="clearfix"></div>
        <!--GRID-->
        <div class="event-listing intent-listing table-responsive">
          <div class="searchbox">
            <div class="search-form">
              <input type="text" id="urlSearch" placeholder="Start typing to search...."
                onkeypress="return alphaOnlyInSearch(event)" />
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
          <table class="table table-striped table-hover display" id="urlTable" style="width:100%">
            <thead>
              <tr>
                <th>
                  Intent Name
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th>
                  Document URL <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th id="DateChanged">
                  Last Changed <i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>
                  Frequency
                  <i class="fa fa-sort" aria-hidden="true"></i>
                </th>
                <th style="text-align:center">
                  Active
                </th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <!--GRID END-->
      </div>
      <div class="col-4">
        <!--FORM-->
        <div class="form-output">
          <div class="lang-dropdown mb-2">
            <label for="language" class="sr-only">Language</label>
            <select class="custom-select" id="languageIntent">

            </select>
          </div>
          <div class="intent-detail border rounded bg-white p-2 mb-2 question-txt">
            <span class="text-muted">Question</span>
            <p class="mb-0" id="Question"></p>
          </div>
          <div class="intent-detail border rounded bg-white mb-2 answer-txt pt-2 pl-2">
            <span class="text-muted">Answer</span>
            {{!-- <p class="mb-0" id="Answer"></p> --}}
            <textarea id="Answer" class="mb-0 ans-textarea" name="Answer"
              onkeypress="return alphaOnlyInAnswer(event)"></textarea>
          </div>
          <div class="alert alert-danger" id="alert-danger">
            These = ' < > , special characters are not allowed !
          </div>
          <div class="intent-detail border rounded bg-white p-2 mb-2 resources-txt">
            <span class="text-muted">Additional resources</span>
            <p class="mb-0" id="AddResources"></p>
          </div>

          <div class="intent-detail border rounded bg-white p-2 mb-2 resources-txt">
            <span class="text-muted">Resources URL</span>
            <p id="ResourcesURL" class="mb-0" onclick="directResourcesURL()"></p>
          </div>

          <div class="intent-detail border rounded bg-white p-2 mb-2 question-txt">
            <span class="text-muted">Video URL</span>
            <p id="VideoURL" class="mb-0" onclick="directVideoURL()"></p>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm float-right" id="saveURLData">
          Save
        </button>
        <!--FORM END-->
      </div>
    </div>
  </div>
  <!-- CONTENT END-->
  <div class="clearfix"></div>
</main>
<script src="../../devJs/admin/webScraping.js"></script>