<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="Programming Training" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>FlowCore.io - Profile</title>

    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/all.css" />
    <link rel="stylesheet" href="../../css/bluegecko.css" />
    <link rel="stylesheet" href="../../css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="../../css/admin-dashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />


    </head>
   <!--Vendor-JS-->
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
    <script src="../../js/query.dataTables.min.js"></script>
    <script src="../../js/jquery.validate.js"></script>
    <script src="../../js/validate-additional-methods.js"></script>
    <script src="../../js/moment.js"></script>
    <script src="../../js/moment-with-locales.min.js"></script>
    <script src="../../js/bootstrap-datetimepicker.min.js"></script>
     <script src="../../js/bootstrap-datepicker.min.js"></script>



    <!--Plugin-JS-->

    <!--Main-active-JS-->
    <script src="../../devJs/main.js"></script>

  <body class="">
   {{> requestStatusAlerts}}
  {{#switch user.UserRoleID}}
                {{#case "1" break=true}}
                {{> header/headerAdmin}}
                {{/case}}
                {{#case "3" break=true}}
                {{> header/headerUser }}
                {{/case}}
                {{#case "2" break=true}}
                {{> header/headerUser }}
                {{/case}}
                {{/switch}}
  <div class="ui page dimmer fullPageLoader" >
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
      {{req.user}}
  </div>
      {{{body}}}
  </body>
