body {
    font-family: 'Ubuntu', sans-serif;
}
#placeholder {
    margin-top: 1.5em;
}
#main-wrapper {
    display: none;
}
.clearfix {
    clear: both;
}
.chatbox {
    width: 350px !important;
    position: fixed;
    bottom: 0;
    right: 1% !important;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    border-radius: 12px 12px 0 0;
}
.chatbox .result {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
}
.chatbox input {
    margin: 0;
    padding: 15px;
    border: none;
    font-size: 14px;
}
.chatbox input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
.chatbox .input-field {
    border-top: solid 1px #333;
}
.chatbox .input-field input {
    width: 320px;
}
.chatbox .left {
    background: #2B5672;
    float: left;
    margin-left: 55px !important;
}
.chatbox .right {
    background: #509BD4;
    float: right;
    margin-right: 55px !important;
}
.chatbox .card-panel {
    color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    max-width: 65%;
    word-break: break-all;
    margin: 10px 15px;
    line-height: 20px;
    overflow: hidden;
    width: auto;
    font-size: 13px;
}
.chatbox .card-panel .btn {
    border: solid 1px #000;
    color: #000;
    background: #fff;
    border-radius: 6px;
    padding: 6px 8px;
    float: left;
    font-size: 13px;
    margin: 6px 5px 0 0;
    cursor: pointer;
    font-family: inherit;
}
.chatbox .card-panel .btn:hover {
    background: #dddbdb;
    transition: 0.3s;
}
.chatbox .header {
    padding: 12px 15px;
    display: block;
    background: #2B5672;
    border-radius: 10px 10px 0px 0px;
}
.chatbox .header img {
    width: 90px;
}
.chatbot-btn {
    border:none;
    background: #2B5672;
    color: #fff;
    font-size: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 4%;
    right: 1%;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
}
.chatbot-btn:hover {
    background: #3f7ca4;
}
.chatbot-btn:focus {
    outline: none;
}
.user-img {
    position: absolute;
    float: right;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid #CCC;
    right: 15px;
    top: 10px;
    object-fit: cover;
}
.bot-img {
    position: absolute;
    left: 15px;
    top:10px;
    float: left;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid #CCC;
    object-fit: cover;
}
.user-msg {
    float: right;
    position: relative;
    width: 100%;
}
.bot-msg {
    float: left;
    position: relative;
    width: 100%;
}
.icon {
	color: #fff;
    float: right;
    font-size: 22px;
    font-weight: bold;
}
.card-panel img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

/*card type 1 - image , title, sub title*/
.card-1 {
    padding: 0 !important;
}
.card-1 img {
    width: 100%;
    max-height: 120px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}
.card-1 .myc-card-title {
    font-size: 16px;
    padding: 0 15px;
    margin: 10px 0 5px;
    font-weight: bold;
}
.card-1 .myc-card-subtitle {
    padding: 0 15px;
    margin: 0 0 15px;
    line-height: 16px;
}
/* video card */
video {
    width: 100%;
}
/* card slider  */
.card-slider {
	background: none !important;
	padding: 0;
    box-shadow: none !important;
}
.card-slider .card-1 {
	background: #2B5672;
	border-radius: 8px;
}
.card-1 h2 {
	font-size: 16px;
	padding: 0 15px;
	margin: 10px 0 5px;
} 
.card-1 p {
    padding: 0 15px;
    margin: 0 0 10px;
    word-break: break-word;
}
.chatbox .card-panel.card-slider .btn{
    margin: 0px 15px 10px;
}
/* tooltip */
.tiptop {
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	padding: 10px;
	font: inherit;
	color: #fff;
	background: #333;
	border-radius: 6px;
	font-size: 14px;
	line-height: 20px;
}