<div class="form-login">
  <div class="container">
    <div class="row login-box">
      <div class="col-md-6 login-leftbox">
        <h3 class="pb-4 text-center text-dark text-uppercase">Set Password</h3>
        <form class="needs-validation" name="changePasswordForm" id="changePassowordForm" novalidate>
          <div class="form-row">
            <div class="col-md-12 form-group has-label">
              <span class="labelicon fa fa-lock"></span>
              <input type="password" id="inputPassword" class="form-control" name="newPassword" required autofocus />
              <label class="form-control-placeholder" for="inputPassword">New Password</label>
              <input type="hidden" id="userEmailId" name="email" value="{{userEmail}}">
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                Please provide a valid password.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 form-group has-label">
              <span class="labelicon fa fa-lock"></span>
              <input type="password" id="cPassword" class="form-control" name="confirmPassword" required autofocus />
              <label class="form-control-placeholder" for="cPassword">Confirm Password</label>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">
                Please provide a valid password.
              </div>
            </div>
          </div>

          <button class="btn btn-lg btn-primary btn-block signin-btn text-uppercase" type="submit"
            id="confirmPasswordSaveBtn">
            Set Password
          </button>
        </form>
        <!-- SUCCESS MSG START-->
        <div class="success-msg text-center" id="sucessMsgDiv" style="display:none;">
          <div class="alert alert-success fade show mt-2" role="alert">
            Your password has set successfully. Please <a href="/login">login</a> to continue.
            <button class="btn btn-primary text-uppercase mt-2" onclick="window.location.href='/login'"
              type="button">Login</button>
          </div>
        </div>
        <!-- SUCCESS MSG END-->
      </div>
      <div class="col-md-6 text-white text-center login-rightbox">
        <div class="card-body h-100 loginbg">
          <div class="login-welcome my-auto">
            <h3 class="mb-3">WELCOME TO</h3>
            <h1 class=" mb-0">FLOWCORE.IO</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../devJs/authentication/changePassword.js" type="text/javascript"></script>