<div class="form-login">
  <div class="container">
    <div class="row login-box">
      <div class="col-md-6 login-leftbox">
        <h3 class="pb-4 text-center text-dark">FORGOT PASSWORD</h3>
        <form id="resetPasswordForm" name="resetPasswordForm" class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-md-12">
              <p>
                Please enter your registered email and follow the
                instructions.
              </p>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 form-group has-label">
              <span class="labelicon fa fa-envelope"></span>
              <input type="text" id="inputEmail" class="form-control" required autofocus placeholder=" " />
              <label class="form-control-placeholder" for="inputEmail">Email</label>
              <div class="invalid-feedback">
                Please provide a valid email id.
              </div>
            </div>
          </div>

          <button id="resetPassword" class="btn btn-lg btn-primary btn-block signin-btn mt-4" type="submit">
            SEND
          </button>
        </form>
        <div id="forgotPasswordMessage" style="display:none;">
          <p>You will soon receive a email with link to change the password.</p>
        </div>
      </div>
      <div class="col-md-6 text-white text-center login-rightbox">
        <div class="card-body h-100 loginbg">
          <div class="login-welcome my-auto">
            <h3 class="mb-3">WELCOME TO</h3>
            <h1 class=" mb-0">FLOWCORE.IO</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../devJs/authentication/forgotPassword.js"></script>