<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../css/chatbot/style.css" /  >
<link rel="stylesheet" href="../../css/chatbot/slick.css" />
<div class="form-login">
  <div class="container">
         <div class="row login-box">
          <div class="col-md-6 login-leftbox">
            <h3 class="pb-4 text-center text-dark">SIGN IN</h3>
            <form id="loginForm" name = "loginForm" class="needs-validation" novalidate>
               <div class="form-row">
                 <div class="col-md-12 form-group has-label" for="clientemail">
                   <span class="labelicon fa fa-user"></span>
                   <input
                     type="text"
                     id="inputUsername"
                     name="email"
                     class="form-control"
                     />
                     <label class="form-control-placeholder" for="inputUsername">Email</label>
                 </div>
               </div>
               <div class="form-row">
                 <div class="col-md-12 form-group has-label">
                   <span class="labelicon fa fa-lock"></span>
                   <input
                     type="password"
                     id="inputPassword"
                     name="password"
                     class="form-control"
                   />
                   <label class="form-control-placeholder" for="inputPassword">Password</label>
                  </div>
               </div>

               <div class="form-row">
                 <div class="col-md-6 mb-3 mt-1">
                   <div class="custom-control custom-checkbox">
                     <input
                       type="checkbox"
                       class="custom-control-input"
                       id="remember-me"
                       name="remember-me"
                     />
                     <label class="custom-control-label" for="remember-me"
                       >Remember Me</label
                     >
                   </div>
                 </div>
                 <div class="col-md-6 mb-3 text-right pt-1">
                   <a class="" href="/forgotPassword">Forgot Password?</a>
                 </div>
               </div>

               <button
                 id = "loginBtn"
                 class="btn btn-lg btn-primary btn-block signin-btn mt-4"
                 type="submit"
               >
                 SIGN IN
               </button>
          </form>
      </div>
      <div class="col-md-6 text-white text-center login-rightbox">
        <div class="card-body h-100 loginbg">
          <div class="login-welcome my-auto">
            <h3 class="mb-3">WELCOME TO</h3>
            <h1 class=" mb-0">FLOWCORE.IO</h1>
          </div>
        </div>
      </div>
    </div>

      <div class="row" style="display: none;">
          <div class="col s6">
              <h5>Configure demo:</h5>
              <div class="row">
                  <div class="input-field col s10">
                      <input id="access_token" type="text" value="75185ce7fb5645f88d60f89b4db85d4a">
                      <label for="access_token">Access token</label>
                  </div>
                  <div class="col s2 input-field" >
                      <!-- <a class="waves-effect waves-light btn light-blue darken-4" id="set_access_token">Set</a> -->
                  </div>
              </div>
              <div class="row">
                  <div class="col s12">
                      <div id="placeholder">
                          <h5>Please, fill access token before start</h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        {{!-- <div class="col s6" style="display:none;">
          <!--h5>Request payload:</h5>
          <pre id="jsonRequest"></pre-->
          <h5>Response payload:</h5>
          <pre id="jsonResponse"></pre>
      </div> --}}
      <!-- CHATBOX-->
     <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s6" style="display: none;">
                    <!--h5>Request payload:</h5>
                    <pre id="jsonRequest"></pre-->
                    <h5>Response payload:</h5>
                    <pre id="jsonResponse"></pre>
                </div>
                <!-- CHATBOX-->
                <div class="chatbox">
                    <button type="button" id="btnBottomRight" class="btn-toggle" style="margin-top: 0px;">&nbsp;</button>
                    <div class="chatbot-overlay">
                            <div class="header" >
                                <img src="../images/chatbot/gotQuestions.png">


                            </div>
                            <div class="chat-area">
                                <div id="result" class="result">

                                </div>
                                <div class="input-field">
                                    <input placeholder="Hey, ask me something..." id="userInput" type="text" pattern="[a-zA-Z0-9!@#$%^*_|]{0,100}">
                                </div>
                            </div>
                    </div>
                </div>
                <!-- CHATBOX END-->
            </div>
        </div>
    </div>
      <!-- CHATBOX END-->

<!-- Login Blue Gecko End -->
<script type="text/javascript" src="../../js/jquery.cookie.min.js"></script>
<script src="../../devJs/authentication/login.js"></script>
<script src="../../js/chatbot/slick.min.js"></script>
<script defer src="../../js/chatbot/layout.js"></script>
<script src="../../js/chatbot/target/ApiAi.js"></script>
<script src="../../js/chatbot/demoFunctions.js"></script>
<script src="../../js/chatbot/tiptop.js"></script>
<script src="../../js/chatbot/jquery-ui.min.js"></script>
<script src="../../js/chatbot/core.js"></script>
<script>
  $(document).ready(function(){
    //expand collapse chat window
     $(document).ready(function(){
        // horizontal slide chatbot - bottom right
            $(document).ready(function () {
            $('#btnBottomRight').click(function () {
                $(".chatbot-overlay").toggle("slide", {direction:'down'});
                $(this).toggleClass("plus minus");
            });
            });
    });
  });

</script>
