<div class="error-pg container-fluid h-100 justify-content-center">
    <div class="row">
      <div class="header text-center w-100">
        <img src="images/logo.png">
      </div>
    </div>
    <div class="row justify-content-center align-middle h-100">
        <div class="col-10 text-center" style="margin-top: 8%;">
            <img src="images/warning.png">
            <h1 class="mb-3 mt-2">Unauthorized Access</h1>
            <p>Access is allowed only for registered user.</p>
        </div>
    </div>
  </div>