 <div class="form-login">
      <div class="container">
        <div class="row login-box">
          <div class="col-md-6 login-leftbox">
            <h3 class="pb-4 text-center text-dark text-uppercase">Reset Password</h3>
            <!-- SUCCESS MSG START-->
			<div class="success-msg text-center">
				<div class="alert alert-danger show mt-2 mb-4" role="alert">
          Sorry, your link has been expired. Click below to reset password.
        </div>
        <a href="/forgotPassword"><button class="btn btn-primary text-uppercase mt-2" type="button" style="padding: 8px 15px;">Reset Password</button></a>
        </div>
			<!-- SUCCESS MSG END-->
          </div>
          <div class="col-md-6 text-white text-center login-rightbox">
            <div class="card-body h-100 loginbg">
              <div class="login-welcome my-auto">
                <h3 class="mb-3">WELCOME TO</h3>
                <h1 class=" mb-0">FLOWCORE.IO</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>