.mright20{ margin-right:20px;}
.mright8{ margin-right:8px;}
.mleft20{ margin-left:20px;}
.mleft10{ margin-left:10px;}
.mtop20{margin-top:20px;}
.mbottom10{margin-bottom:10px;}
.mbottom20{margin-bottom:20px;}
.pbottom5{ padding-bottom:5px;}
.p10{ padding:10px;}
.p15{ padding:15px;}
.p20{ padding:20px;}
.pleft10{ padding-left:10px;}
.pleft15{ padding-left:15px;}
.nopadding{padding:0px;}
.dashboard-select{
	padding: 10px 0px 10px 12px;
    border-radius: 4px;
    width: 100%;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    border: 1px solid #a7a8b4;
    color: #828282;
    height: 46px;
    background: #fff;
    font-size: 14px;
}
.event-listing table th .subhead{
	font-size:11px;
	max-width:40%;
    overflow: inherit;
	padding:0px;
	font-weight:normal;
}
.event-listing .dropdown {
    position: relative;
    margin-top: -10px;
    float: none;
    width:calc(100% - 51px);
}
.wid100{ width: 99.9% !important;}
.fnone{float:none !important}

.sub-table th{
	/*border-bottom:1px solid #dee2e6 !important;*/
	padding:5px 10px 5px 13px;
}
.bordernone{
	border-bottom:1px solid #f6f6f8 !important;
	padding-bottom: 5px !important;
}
.info-display-admin{
	border-bottom:0px;
	border-top: 1px solid #d7d8ee;
}

h2 {
    font-size: 33px;
    font-weight: normal;
}
h6 {
    font-size: 16px;
    font-weight: normal;
}
.widget-setting h6 {
    font-size: 14px;
    font-weight: normal;
}
.width80{
	width:90%;
}
.bg-widgetblue{
    background: #418bca;
    border-radius: 6px;
}
.border-widgetblue{
    border-bottom: solid 1px #5ea2db;
    border-radius: 6px;
}
.bg-widgetred{
    background: #e05d6f;
    border-radius: 6px;
}
.border-widgetred{
    border-bottom: solid 1px #ec7787;
    border-radius: 6px;
}
.bg-widgetgreen{
    background: #17a086;
    border-radius: 6px;
}
.border-widgetgreen{
    border-bottom: solid 1px #3ab79f;
    border-radius: 6px;
}
.bg-widgetblack{
    background: #3f4e61;
    border-radius: 6px;
}
.border-widgetblack{
    border-bottom: solid 1px #606d7f;
    border-radius: 6px;
}
.bg-widgetwhite{
	background: #fff;
    border:solid 1px #DDDDDD;
    border-radius: 6px;
}
.widget-bottom{
    border-bottom:1px solid #ffffff;
    border-radius: 6px;
}
.widget-title{
	font-weight: 500;
	font-size: 17px;
}
.environment-icon{
	font-size:28px;
	color:#16CE95;
}

.input-group-addon{
    background: #fff;
    padding: 0px 2px 3px 3px;
	border-right:1px solid #ced4da;
	border-top:1px solid #ced4da;
	border-bottom:1px solid #ced4da;
	border-left:none;
    color:#A7A8B4;
    border-radius: 0 4px 4px 0;
}
.calendar{
	border-right:none;
    border-radius: 0px;
    width: calc(100% - 51px);
    display: inline-flex;
}
.calendar2{
	border-right:none;
    border-radius: 0px;
    width: calc(100% - 32px);
    display: inline-flex;
}

.calendar .input-group-text{
	background: none;
	border: none;
}

.input-group:focus{border: 1px solid #144fb7; box-shadow:none !important;}
.greytext{color:#a7a8b4}

.text-ellipses{	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 99%;
}
.calendar-text{
	line-height: 38px;
	padding-right: 8px;
}
.font-16{ font-size:16px;}
.calendar-text{
    position: relative;
    top: -20px;
}
.calendar input{
    border-left:1px solid #ced4da;
    border-top:1px solid #ced4da;
    border-bottom:1px solid #ced4da;
    border-right:none;
    height: 46px;
    border-radius: 4px;
}
.form-control{
    border: 1px solid #7a9cd9;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #7a9cd9;
    outline: 0;
    box-shadow: 0 0 0 1px #a1c3fb;
}
.calendar2 input{
    border-left:1px solid #ced4da;
    border-top:1px solid #ced4da;
    border-bottom:1px solid #ced4da;
    border-right:none;
    height: 46px;
    border-radius: 4px;
}
.calendar2 .input-group-text{ background: none; border:none;}

/* Pie Chart */

.progress-circle {
    font-size: 32px;

    position: relative;
    padding: 0;
    width: 5em;
    height: 5em;
    background-color: #d9d9d9;
    border-radius: 50%;
    line-height: 5em;

}
.progress-circle:after{
    border: none;
    position: absolute;
    top: 0.35em;
    left: 0.35em;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 4.3em;
    height: 4.3em;
    background-color: white;
    content: " ";
}
/* Text inside the control */
.progress-circle span {
    position: absolute;
    line-height: 5em;
    width: 5em;
    text-align: center;
    display: block;
    color: #44487A;
    z-index: 2;
}
.progress-text{ position:relative; top:60%; font-size: 14px;}
.left-half-clipper {
   /* a round circle */
   border-radius: 50%;
   width: 5em;
   height: 5em;
   position: absolute;
   clip: rect(0, 5em, 5em, 2.5em);
}

.progress-circle.over50 .left-half-clipper {
   clip: rect(auto,auto,auto,auto);
}
.value-bar {

   position: absolute;
   clip: rect(0, 2.5em, 5em, 0);
   width: 5em;
   height: 5em;
   border-radius: 50%;
   box-sizing: border-box;
}
.purple{border: 0.45em solid #4c4b97;}
.pink{border: 0.45em solid #ff6a89;}
.blue{border: 0.45em solid #19caaa;}

.progress-circle.over50 .first50-bar {

   position: absolute;
   clip: rect(0, 5em, 5em, 2.5em);
   border-radius: 50%;
   width: 5em;
   height: 5em;
}
.progress-circle:after{background:#F6F6F8;}
.first50-bar-purple{background-color: #4c4b97;}
.first50-bar-pink{background-color: #ff6a89;}
.progress-circle:not(.over50) .first50-bar{ display: none; }
.progress-circle.p90 .value-bar { transform: rotate(324deg); }
.progress-circle.p70 .value-bar { transform: rotate(252deg); }
.progress-circle.p38 .value-bar { transform: rotate(137deg); }
.pie-chart{width:30%;}
.fontbold{ font-weight: bold;}

/* media query start*/
@media (min-width: 1024px) and (max-width: 1366px) {

.widget-setting .text-ellipses{	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	max-width: 65%;
}
.progress-circle {
    font-size: 20px;
    margin:0px !important;
    position: relative;
    padding: 0;
    width: 5em;
    height: 5em;
    background-color: #F2E9E1;
    border-radius: 50%;
    line-height: 5em;
	left:none;
}
.progress-text{
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
    white-space: nowrap;
}
.hide-box{ display: block;}
}

@media (min-width: 1400px) and (max-width: 1680px) {
	.progress-circle {left:0%;}
}

.chart-container{
    padding:25px;
}














