

@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Regular"), url("../../fonts/poppins-webfont/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Bold"), url("../../fonts/poppins-webfont/Poppins-Bold.woff") format("woff");
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-group .form-control-placeholder {
  position: absolute;
  top: 4px;
  padding: 15px 15px 19px;
  margin-bottom: 0;
  /*transition: all 200ms;*/
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
  color: #a7a8b4;
}

.form-group input.form-control,
.form-group textarea,
.form-group select {
  line-height: 2rem;
  height: 3.5rem;
  color: #646464;
  padding: 20px 15px 10px;
  width: 100%;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ced4da;
}

.form-group input.form-control:focus,
.form-group textarea:focus,
.form-group select:focus {
  border: 1px solid #144fb7;
}

/* .form-group input.form-control:focus ~ .form-control-placeholder, */
.form-group textarea:focus + .form-control-placeholder,
.form-group textarea:valid + .form-control-placeholder,
.form-group select:focus + .form-control-placeholder,
.form-group select:valid + .form-control-placeholder {
  font-size: 75%;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  padding: 0px 15px;
  margin-top: 20px;
}

 /* float label */
 .form-control + .form-control-placeholder {
  position: absolute;
  top: 0.15em;
  transition: transform 200ms ease;
  pointer-events: none;
}
input:focus ~ .form-control-placeholder,
input ~ .form-control-placeholder.freeze {
    transform: translate3d(0, -14px, 0);
    opacity: 1;
    font-size: 14px;
    padding: 15px 15px 0;
}
/* float label end*/

.form-group textarea.form-control {
  height: auto;
}

body {
  background: #f6f6f8;
  color: #646464;
}

.navbar-gredient {
  background-color: #fff;
  border-top: 3px solid #144fb7;
  -webkit-box-shadow: 0px 5px 19px 0 #0000000a;
          box-shadow: 0px 5px 19px 0 #0000000a;
          height: 60px;
}

.navbar-gredient .navbar-toggler {
  border: 1px solid #666666;
}

.navbar-gredient .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/humbuger.png);
}

.navbar-gredient .navbar-nav li {
  padding: 0 20px;
  border-right: 1px solid #d8d8d8;
  position: relative;
}

.navbar-gredient .navbar-nav li:last-child {
  border-right: 0px;
}

.navbar-gredient .navbar-nav li a {
  color: #646464;
  position: relative;
  padding: 7px 10px;
}

.navbar-gredient .navbar-nav li a img {
  border: 1px solid #fff;
}

.navbar-gredient .navbar-nav li a p {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 0 0;
}

.navbar-gredient .navbar-nav li.active a {
  color: #444444;
}

.navbar-gredient .navbar-nav li.active:after {
  width: 100%;
  content: "";
  height: 3px;
  background-color: #19caaa;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
}
.navbar-nav .dropdown-menu {
  margin: 9px 0 0;
  padding: 0.2rem 0;
}
@media only screen and (max-width: 600px) {
  .navbar-gredient .navbar-nav li.active a:after {
    content: none;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-gredient .navbar-nav li.active {
    border-left: 2px solid #19caaa;
  }
}

.navbar-gredient .navbar-nav li .dropdown-menu a {
  color: #646464;
}

.navbar-gredient .navbar-nav li .dropdown-menu a:active {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .navbar-gredient .navbar-nav li {
    border-left: 2px solid #fff;
  }
}

.navbar-gredient .navbar-nav.profile-view {
  position: relative;
}

.navbar-gredient .navbar-nav.profile-view .dropdown-menu {
  border-radius: 0.25rem;
  width: 100%;
  margin-top: -4px;
  padding: 0.2rem 0;
}

.navbar-gredient .navbar-nav.profile-view .dropdown-menu .dropdown-item {
  white-space: pre-line;
}

.navbar-gredient .navbar-nav.profile-view:before {
  content: "";
  width: 1px;
  height: 55px;
  background-color: #d8d8d8;
  left: 0;
  position: absolute;
  top: 4px;
}

@media only screen and (max-width: 600px) {
  .navbar-gredient .navbar-nav.profile-view:before {
    content: none;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-gredient .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-gredient .navbar-collapse {
    padding: 10px 0;
  }
  .navbar-gredient .navbar-collapse a {
    text-align: left;
  }
}

.createnewuserBTN .btn-sm {
  padding: 12px 40px;
  margin-top: -8px;
}

.page-title {
  font-size: 19px;
  color: #646464;
  font-weight: normal;
  margin: 0 0 10px;
  border-bottom: 1px solid #d7d8ee;
  padding-bottom: 15px;
}

.widget-card {
  background-color: #fff;
  padding: 30px 10px;
  margin-bottom: 50px;
  -webkit-box-shadow: 2px 2px 12px 2px #0000000a #0000000a;
          box-shadow: 2px 2px 12px 2px #0000000a #0000000a;
}

.widget-card label.invalid-feedback {
      margin: 0;
      display: block;
}
.widget-card .widget-card-title {
  color: #646464;
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 15px;
}

.widget-card .form-submit-button {
  text-align: center;
  width: 100%;
  padding: 40px 40px 20px 40px;
  border-top: 1px solid #d7d8ee;
  margin-top: 40px;
}

.profile-form .widget-card .pad-lr-40:first-child {
  border-right: 1px solid #d7d8ee;
}

.info-detail-title {
  font-size: 18px;
}

.info-display {
  border-bottom: 1px solid #d7d8ee;
  padding: 10px 0 20px;
}

.info-display .info-date-time {
  line-height: 40px;
  margin-bottom: 0;
}

.info-display .info-display-details .fa {
  padding-right: 10px;
  font-size: 40px;
  margin-top: -8px;
  margin: 0px;
}

.info-display .info-display-details .fa.fa-check-circle {
  color: #16ce95;
}

.info-display .col-md-6:first-child {
  border-right: 2px dashed #d7d8ee;
}

.info-display .eventstate-info {
  border-right: 2px dashed #d7d8ee;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

.info-display .eventstate-info .info-date-time {
  font-size: 20px;
}

.info-display .eventstate-info:last-child {
  border-right: 2px dashed transparent;
}

@media only screen and (max-width: 600px) {
  .info-display .pr-40,
  .info-display .pl-40 {
    padding: 15px 0;
    border: 0px !important;
  }
}

@media only screen and (max-width: 600px) {

  .event-listing .listing-table {
    width: auto;
    overflow-y: auto;
  }
}
.event-listingSmall table{
  color: #646464;
  font-size: smaller;
  width: 99.9%;
  border: solid 1px #dee2e6;
  word-break: break-all;
}
.event-listing table {
  margin-top: 30px;
  color: #646464;
  font-size: smaller;
  width: 99.9%;
  border: solid 1px #dee2e6;
  word-break: break-all;
}

.event-listingSmall table tbody {
  background: #f6f6f8;
}

.event-listing table tbody {
  background: #f6f6f8;
}

.event-listingSmall table tbody tr {
  border: 0px solid #f6f6f8;
  border-top: 1px solid #f6f6f8;
  background: #fff;
  z-index: 1;
  position: relative;
}

.event-listing table tbody tr {
  border: 0px solid #f6f6f8;
  border-top: 1px solid #f6f6f8;
  background: #fff;
  z-index: 1;
  position: relative;
}

.event-listingSmall table tbody tr:hover {
  border: 1px solid #19caaa;
  position: relative;
  z-index: 2;
}

.event-listing table tbody tr:hover {
  border: 1px solid #19caaa;
  position: relative;
  z-index: 2;
}


.event-listingSmall table tbody tr td {
  border: 0px;
}
.event-listing table tbody tr td {
  border: 0px;
}

.event-listingSmall table th {
  font-size: 13px;
  vertical-align: text-bottom;
  border-bottom: 0px;
}

.event-listing table th {
  font-size: 13px;
  vertical-align: text-bottom;
  border-bottom: 0px;
}

.event-listingSmall table th span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  display: inline-block;
  font-weight: 700;
}

.event-listing table th span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  display: inline-block;
  font-weight: 700;
}

.event-listingSmall table th i {
  display: inline-block;
  position: relative;
  padding: 1px
}

.event-listing table th i {
  display: inline-block;
  position: relative;
}

.event-listingSmall table td span.timer-block {
  height: 20px;
  width: 6px;
  margin: 1px;
  border: 1px solid #a7a8b4;
  display: inline-block;
}

.event-listing table td span.timer-block {
  height: 20px;
  width: 6px;
  margin: 1px;
  border: 1px solid #a7a8b4;
  display: inline-block;
}

.event-listing table td span.timer-block.time-active {
  background-color: #a7a8b4;
}

.event-listing table td.monthly-timer {
  font-size: 0px;
  vertical-align: middle;
  white-space: nowrap;
}

.event-listing .search-from {
  float: right;
  position: relative;
  margin-top: -10px;
}

.event-listing .search-from input {
  padding: 10px 18px;
  border-radius: 4px;
  width: 300px;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border: 0.5px solid #a7a8b4;
}

.event-listing .search-from i {
  top: 15px;
  position: absolute;
  right: 17px;
  color: #a7a8b4;
  font-size: 14px;
}

.event-listingSmall thead {
  background: #fff;
  border-bottom: solid 2px #19caaa;
}

.event-listing thead {
  background: #fff;
  border-bottom: solid 2px #19caaa;
}

.event-listing .actionicon span {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .event-listing .search-from {
    float: none;
    display: block;
    text-align: center;
    clear: both;
    width: 100%;
  }
  .event-listing .search-from input {
    width: 100%;
  }
}

.round-btn {
  border-radius: 50px;
}

.btn-outline-danger {
  border: 1px solid #ff6a89;
  border-radius: 50px;
  padding: 5px 30px;
  float: right;
  color: #ff6a89;
}

.btn-outline-danger:hover {
  color: #fff;
}

.btn-outline-primary {
  border: 1px solid #19caaa;
  border-radius: 4px;
  padding: 10px 30px;
  float: right;
  color: #19caaa;
  background: #fff;
}

.btn-outline-primary:hover {
  background: #19caaa;
  border: 1px solid #19caaa;
}

.btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus {
  background: #19caaa;
  border: 1px solid #19caaa;
  -webkit-box-shadow: 0 0 0 0rem transparent;
  box-shadow: 0 0 0 0rem transparent;
  color: #fff;
}

.deactiveIcon {
  color: #a7a8b4;
}

.highlighter-ng {
  color: #d44950;
}

.highlighter-ng:hover {
  color: #d44950;
  opacity: 0.8;
}

.actionicon {
  font-size: 16px;
}

.pt-50 {
  padding-top: 75px;
}

.pad-lr-25 {
  padding: 0 25px;
}

.pad-lr-40 {
  padding: 0 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body.signup-signin {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f6f6f8;
  font-family: "Poppins Regular", sans-serif;
  font-size: 14px;
}

a {
  color: #144fb7;
}

.form-login {
  width: 100%;
  max-width: 58%;
  padding: 0px;
  margin: auto;
}

.form-login .login-box {
  min-height: 478px;
  -webkit-box-shadow: 0px 0px 100px 8px #0000001c;
  box-shadow: 0px 0px 100px 8px #0000001c;
  border-radius: 8px;
}

.form-login .login-box .login-leftbox {
  background: #fff;
  padding: 50px 30px;
  border-radius: 8px 0px 0px 8px;
  color: #656565;
}

.form-login .login-box .login-leftbox .form-control {
  border-color: #cdcdcd;
  border-radius: 4px;
}

.form-login .login-box .login-leftbox h4 {
  text-align: center;
}

.form-login .login-box .login-leftbox .has-label {
  margin-bottom: 30px;
  /*input:not(:placeholder-shown) ~ label {
          padding-top: 0;
        }*/
}

.form-login .login-box .login-leftbox .has-label .invalid-feedback,
.form-login .login-box .login-leftbox .has-label .valid-feedback {
  position: absolute;
  bottom: -20px;
  padding-left: 0;
}
.form-login .login-box .login-leftbox .has-label label.invalid-feedback {
  bottom: -25px;
}
.form-login .login-box .login-leftbox .has-label .labelicon {
  position: absolute;
  text-align: center;
  width: 40px;
  top: 36%;
  font-size: 17px;
}

.form-login .login-box .login-leftbox .has-label input,
.form-login .login-box .login-leftbox .has-label label {
  padding-left: 2.75rem;
}

.form-login .login-box .login-leftbox .signin-btn {
  padding: 1rem 1rem;
  font-size: 14px;
  font-weight: bold;
}

.form-login .login-box .login-rightbox {
  background: #7252ac;
  background: -webkit-gradient(linear, left top, right top, from(#7252ac), to(#5a4e9f));
  background: linear-gradient(90deg, #7252ac 0%, #5a4e9f 100%);
  border-radius: 0px 8px 8px 0px;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 20px 20px;
  position: relative;
}

.form-login .login-box .login-rightbox h1 {
  font-family: "Poppins Bold", sans-serif;
  font-size: 2.55rem;
}

.form-login .login-box .login-rightbox h3 {
  font-weight: normal;
  font-size: 1.55rem;
}

.form-login .login-box .login-rightbox h3 span {
  font-size: 1.85rem;
  letter-spacing: 2.5px;
  margin-top: -5px;
}

.form-login .loginbg {
  background: url(../images/login-right-img.png) center;
  background-repeat: no-repeat;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: table;
}

.form-login .loginbg .login-welcome {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.btn-primary {
  background: #19caaa;
  border-color: #19caaa;
  padding: 12px 40px;
  margin: 0 10px;
  min-width: 150px;
  font-size: 15px;
  letter-spacing: 1px;
}
.form-login .btn-primary {
	margin: 0;
}
.btn-primary:hover, .btn-primary.hover, .btn-primary:focus, .btn-primary.focus {
  background: rgba(25, 202, 170, 0.8);
  border-color: rgba(25, 202, 170, 0.8);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active {
  background: rgba(25, 202, 170, 0.8);
  border-color: rgba(25, 202, 170, 0.8);
}
.btn-primary.disabled, .btn-primary:disabled {
  background: gray;
  border-color: gray;
  cursor: not-allowed;
}
.btn-primary.cancel-btn {
  background: #707070;
  border: 1px solid #707070;
  color: #fff;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.custom-control-label::before,
.custom-control-label::after {
  width: 1.25rem;
  height: 1.25rem;
}

.custom-checkbox .custom-control-label {
  line-height: 1.75rem;
  padding-left: 5px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background: #fff;
  border-color: #6d6f96;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='rgb(25, 202, 170)' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/*SET PASSWORD*/
.login-leftbox {
	position: relative;
}
.login-leftbox .success-msg {
	position: absolute;
	background: rgba(255,255,255,0.95);
	width: 100%;
	top: 110px;
	left: 0;
	bottom: 0;
}
.login-leftbox .success-msg .alert {
	width: 90%;
	margin: 0 auto;
}
.login-leftbox .success-msg .alert .btn-primary {
	min-width: 125px;
	padding: 8px;
}
/*Intent mgmt*/
/*.navbar .dropdown:hover>.dropdown-menu {
  display: block;
} */
.navbar .dropdown-toggle::after {
  vertical-align: 0.15em;
}
.filter-list select {
  height: 46px;
  margin-top: -10px;
  border: 1px solid #a7a8b4;
  width: auto;
  width: 150px;
}
.filter-list select:focus {
  box-shadow: none;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #19caaa;
}

/*WEBSCRAPING*/
.webscraping .search-form {
  position: relative;
  margin-top: -10px;
}
.webscraping .search-form input {
  padding: 10px 18px;
  border-radius: 4px;
  width: 100%;
  box-shadow: 0;
  border: none;
}
.webscraping .search-form i {
  top: 15px;
  position: absolute;
  right: 17px;
  color: #a7a8b4;
  font-size: 14px;
}
.webscraping .btn-outline-primary {
  margin-top: -8px;
}
#urlTable {
  margin-top: 0;
}
#updateURLData {
  width: 150px;
  margin: 0;
}
.searchbox {
  border: solid 1px #dee2e6;
  background: #fff;
  margin-top: 5px;
  padding-top: 10px;
  border-radius: 0.25rem 0.25rem 0 0;
}
.form-output {
  margin-top: 45px;
}
.lang-dropdown select {
  height: 46px;
}
.question-txt {
  max-height: 100px;
}
.resources-txt{
  max-height: 180px;
}
#saveURLData {
  margin: 0;
}
.ans-textarea {
  display: block;
  width: 100%;
  border: none;
  padding: 0;
  font-size: 15px;
  color: #333;
  line-height: 20px;
  height: 250px;
  resize: none;
  overflow-x: hidden;
}
.ans-textarea:focus {
  outline: none;
}
.ans-textarea.readonly {
  pointer-events: none;
}
.intent-detail {
  min-height: 46px;
}
.intent-detail span {
  font-size: 14px;
}
.intent-detail p {
  color: #333;
  font-size: 15px;
  line-height: 20px;
  word-break: break-word;
}
.intent-listing table tbody tr.active {
  border: solid 2px #19c9a9;
}
.intent-listing table tbody tr:focus {
  outline: none;
}
.dataTables_paginate .first, .dataTables_paginate .last {
  display: none;
}
.dataTables_paginate {
  text-align: right;
  margin-bottom: 20px;
}
.dataTables_paginate .previous {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  color: #333;
  border: 1px solid #ccc;
  background: #fff;
  padding: 2px 8px 3px;
  border-right: none;
}
.paginate_button, .dataTables_paginate .ellipsis {
  font-size: 14px;
  color: #000;
  padding: 2px 8px 3px;
  border: solid 1px #ccc;
  background: #fff;
  line-height: 23px;
  display: inline-block;
  border-right: none;
  cursor: pointer;
}
.paginate_button:hover {
  text-decoration: none;
  color: #333;
  background-color: #e4e4e6;
}
.paginate_button:focus {
  outline: none;
}
.paginate_button.current {
  color: #fff;
  background-color: #19caaa;
}
.dataTables_paginate .next {
  border-right: solid 1px #ccc;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(148, 148, 148, 0.05);
}
@media (max-width: 1400px) {
  .navbar-gredient .navbar-nav li {
    padding: 0 15px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 7px 0;
  }
  .navbar-gredient .navbar-nav.profile-view:before {
    height: 100%;
    top: 0;
  }
  #urlTable th:nth-child(3) {
    width: 150px !important;
  }
  #urlTable th:nth-child(4) {
    width: 125px !important;
  }
  #urlTable th:nth-child(5) {
    width: 100px !important;
  }
}
@media (max-width: 1200px) {
  .navbar-brand img {
    width: 150px;
  }
  .navbar-expand-md .navbar-nav .nav-link, .navbar-gredient .navbar-nav li .dropdown-menu a {
    font-size: 14px;
  }
  .navbar-gredient .navbar-nav li {
    padding: 0 10px;
  }
  .intent-detail p {
    font-size: 14px;
  }
}

#captcha {
  padding: 3px 0;
}
.event-listing .calendar {
  width: 100%;
}
.event-listing .calendar .form-control:disabled,
.event-listing .calendar .form-control[readonly],
.calendar .form-control{
  background: #fff;
}
.datepicker table tr td.active,
.datepicker table tr td span.active.active {
  background-color: #19caaa !important;
  background-image: none !important;
}
.datepicker {
  width: 255px;
}
.datepicker table {
  width: 100%;
}
.datepicker td, .datepicker th {
  padding: 3px 0;
}
.input-group-append {
  margin-left: 0;
}
.input-group.date .input-group-addon {
  border-left: 1px solid #ced4da;
}
.event-listing .input-group > .form-control {
  width: 1% !important;
}
select:disabled {
  background: #e9ecef;
  cursor: not-allowed;
}
.dashboard-calendar {
  width: calc(100% - 51px) !important;
}
.progress {
  width: 100%;
  background: #e6e6e6;
  height: 1.2rem;
}
#current-progress {
  font-size: 13px;
}
.progress-bar {
  background-color: #19b196;
}
#webscrapModal .modal-dialog {
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  top: 50%;
  margin: 0 auto;
}

#siteMapwebscrapModal .modal-dialog {
  -webkit-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  top: 50%;
}

#siteMapwebscrapModal  .modal-body {
  text-align: center;
  margin: 4px 0px -1px 0px;
}
#siteMapwebscrapModal  .modal-body p {
  color: #000;
  margin-bottom: 1rem;
}

#webscrapModal  .modal-body {
  padding: 1.5rem;
}
#webscrapModal  .modal-body p {
  text-align: center;
  color: #000;
}
.alert-danger{
  display: none;
  background: #B50000;
  color: #FFFFFF;
  font: 12px;
  font-family: "Poppins Regular", sans-serif;
}
.success-alert {
  position: fixed;
  top: 0;
  width: 350px;
  left: 0;
  right: 0;
  background: #06826b;
  border-radius: 0 0 6px 6px;
  color: #fff;
  z-index: 99999;
  margin: 0 auto;
  text-align: center;
  padding: 12px;
  font-size: 17px;
  display: none;
}

.volumeChart-alert {
  top: 0;
  left: 0;
  background: #06826b;
  border-radius: 0 0 6px 6px;
  color: #fff;
  z-index: 99999;
  margin: 0 auto;
  text-align: center;
  padding: 12px;
  font-size: 17px;
  display: none;
  position: inherit;
  right: 0px;
  width: 350px;
  transition: opacity 0.2s 1s ease;
}


#urlTable th:nth-child(3) {
  width: 195px !important;
}
#urlTable th:nth-child(4) {
  width: 110px !important;
}
#urlTable th:nth-child(5) {
  width: 80px !important;
}
/*spinner*/
.fullPageLoader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #d1d1d1ab;
  z-index: 1;
}
.sk-circle {
  width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: -10px auto;
  width: 11px;
  height: 11px;
  background-color: #10715a;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#siteMapwebscrapModal .sk-circle {
  position: static;
  width: 30px;
  height: 30px;
  margin: 35px 0 0;
}
#siteMapwebscrapModal .sk-circle .sk-child {
  top: 15px;
}
#siteMapwebscrapModal .sk-circle .sk-child:before {
  margin: 36px auto;
  width: 9px;
  height: 9px;
}
.capitalize {
  text-transform: capitalize !important;
}

.urlColor{
  color: blue !important;
  cursor: pointer;
}

.modal .btn-primary {
  padding: 7px 15px;
  min-width: auto;
  margin: 0;
}
.modal-btn .btn {
  width: 50%;
  border-radius: 0;
}

.event-listing table tbody tr.active {
  border: solid 1px #19caaa;
}

#intentTXHistory {
  width: 100% !important;
}

/* responsive upto 1024 */
@media (max-width: 1600px) {
  .global-filters .ml-4 {
    margin-left: 0.5rem !important;
  }
  .global-filters .btn-primary {
    padding: 12px 10px;
    min-width: auto;
    width: auto !important;
  }
}
@media (max-width: 1500px) {
  .datepicker {
    width: 12rem;
  }
  .global-filters .btn-primary {
    font-size: 13px;
  }
  .global-filters .mr-2 {
    margin-right: 0.25rem !important;
  }
}
@media (max-width: 1199.98px) {
  #eventList th:last-child {
    width: 180px;
  }
  .event-listing table {
    word-break: inherit;
  }
  table {
    width: 100% !important;
    word-break: inherit !important;
  }
  #userList th:nth-child(1) {
    width: 130px;
  }
  #userList th:nth-child(2) {
    width: 155px;
  }
  .event-listing table th {
    width: auto !important;
  }
  .form-login {
    max-width: 100%;
  }
  .info-display .mtop20 {
    margin-top:0;
  }
  #urlTable {
    word-break: break-all !important;
  }
}

.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 3;
}

.overlay {
fill: none;
pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus circle {
fill: none;
stroke: steelblue;
}

#intentTXHistory th{
  text-align: center;
}
/* #intentTXHistory th:nth-child(6) {
  width: 26%;
} */
/* #intentTXHistory tr.sub-table th:nth-child(6),
#intentTXHistory tr.sub-table th:nth-child(7),
#intentTXHistory tr.sub-table th:nth-child(8),
#intentTXHistory tr.sub-table th:nth-child(9) {
  width: 75px !important;
  max-width: 75px !important;
} */
#intentTXHistory {
  table-layout: fixed;
}
#intentList th:nth-child(1) {
  width: 26% !important;
}

#intentManagmentDashboard th:nth-child(1) {
  width: 15% !important;
}
#intentList th:nth-child(2) {
  width: 18% !important;
}
#intentList th:nth-child(3) {
  width: 18% !important;
}
#intentList th:nth-child(4) {
  width: 18% !important;
}
#intentList th:nth-child(5) {
  width: 20% !important;
}
#intentList td {
  font-size: 12px;
}

 #intentListDashboard th:nth-child(1) {
  width: 26% !important;
}
#intentListDashboard th:nth-child(2) {
  width: 18% !important;
}
#intentListDashboard th:nth-child(3) {
  width: 25% !important;
}
#intentListDashboard th:nth-child(4) {
  width: 18% !important;
}
#intentListDashboard th:nth-child(5) {
  width: 20% !important;
}
#intentListDashboard th:nth-child(6) {
  width: 20% !important;
}
#intentListDashboard td {
  font-size: 12px;
}
#intentList,#intentManagmentDashboard, #intentListDashboard {
  table-layout: fixed;
}
.event-listingSmall canvas {
  background: #fff;
}
#intentList,
#intentListDashboard {
  margin-top: 0;
}

 #intentManagmentDashboard th:nth-child(1) {
  width: 18% !important;
}
#intentManagmentDashboard th:nth-child(2) {
  width: 10% !important;
}
#intentManagmentDashboard th:nth-child(3) {
  width: 10% !important;
}
#intentManagmentDashboard th:nth-child(4) {
  width: 10% !important;
}
#intentManagmentDashboard th:nth-child(5) {
  width: 10% !important;
}
#intentManagmentDashboard th:nth-child(6) {
  width: 10% !important;
}
#intentManagmentDashboard th:nth-child(7) {
  width: 10% !important;
}
#intentManagmentDashboard th:nth-child(8) {
  width: 10% !important;
}
#intentManagmentDashboard th:nth-child(9) {
  width: 10% !important;
}
#intentManagmentDashboard th:nth-child(10) {
  width: 10% !important;
}
#intentManagmentDashboard th:nth-child(11) {
  width: 5% !important;
}

/* marquee effect*/
.marquee {
  font-size: 16px;
  width: 100%;
  padding: 15px 0;
  clear: both;
  background: #ffffff;
  color: #000;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0px 3px 7px #79797912;
}
.marquee ul {
  margin: 0;
  line-height: 1;
}
.marquee li {
  float: left;
  list-style: none;
  border-right: solid 1px #696868;
  padding: 0 25px;
}
.marquee li:last-child {
  border: none;
}

.intentStateDashboardCheckBoxValue {
  display: none;
}

.intentStateDashboardStyle{
  margin-top: 0;
  margin-bottom: 1rem;
  float: left;
}

#intentStateCheckBoxOneValue,#intentStateCheckBoxTwoValue,#intentStateCheckBoxThreeValue,#intentStateCheckBoxFourValue,#intentStateCheckBoxFiveValue {
  margin-top: 0px;
  margin-bottom: 1rem;
  margin: 10px;
  font: 12px;
  font-family: "Poppins Regular", sans-serif;
}