<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

    <title>FlowCore.io</title>

</head>

<body style="padding:0; margin:0; font-family: Arial, Helvetica, sans-serif; background-color:#eee;">
<div style="min-width:320px; max-width:520px; margin: 0 auto;">
    <table border="0" cellpadding="0" cellspacing="20px" style="margin:0; padding:0" width="100%">
        <tr>
            <td align="center" valign="top">
                <img src="{{host}}/images/logo.png" alt="flowcore logo">
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="30px" style="margin:0; padding:0; font-size: 14px; line-height: 24px;" bgcolor="#ffffff">
                    <tr>
                        <td>
                            Hi {{name}},
                            <br><br>
                            <b style="font-size:13px;">Username:</b> {{user}} <br>
                            You are successfully registered as a FlowCore.io User. Click the link below to activate your account and set password.
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <a href="{{url}}"><img src="https://i.ibb.co/108qzVK/activate-ac.png" alt="Activate account"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thanks,
                            <br>
                            FlowCore.io Team
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="font-size: 12px;">
                @ 2019 <a href="https://apps.flowcore.io/">FlowCore.io</a>. All rights reserved.
            </td>
        </tr>
    </table>
</div>
</body>
</html>

