body {
    font-family: 'Ubuntu', sans-serif
}

#placeholder {
    margin-top: 1.5em
}

#main-wrapper {
    display: none
}

.clearfix {
    clear: both
}

.chatbox {
    width: 350px!important;
    position: fixed;
    bottom: 0;
    right: 1%!important;
    border-radius: 12px 12px 0 0
}

.chatbox .result {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff
}

.chatbox input {
    margin: 0;
    padding: 15px;
    border: none;
    font-size: 14px
}

.chatbox input:focus {
    border: none;
    box-shadow: none;
    outline: none
}

.chatbox .input-field {
    padding: 12px 20px;
    background: #fff;
    border-top: 1px solid #2B5672
}

.chatbox .input-field input {
    background: #f7f7f7!important;
    color: #333!important;
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    width: 100%;
    height: 45px
}

.chatbox .input-field input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, .15)!important
}

.chatbox .left {
    background: #2B5672;
    float: left;
    margin-left: 55px!important
}

.chatbox .right {
    background: #509BD4;
    float: right;
    margin-right: 55px!important
}

.chatbox .card-panel {
    color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    max-width: 65%;
    word-break: break-word;
    margin: 10px 15px;
    line-height: 20px;
    overflow: hidden;
    width: auto;
    font-size: 13px
}

.chatbox .card-panel .btn {
    border: solid 1px #000;
    color: #000;
    background: #fff;
    border-radius: 6px;
    padding: 6px 8px;
    float: left;
    font-size: 13px;
    margin: 6px 5px 0 0;
    cursor: pointer;
    font-family: inherit;
    white-space: normal;
    text-align: left
}

.chatbox .card-panel .btn:hover {
    background: #dddbdb;
    transition: 0.3s
}

.chatbox .header {
    padding: 12px 15px;
    display: block;
    background: #2B5672;
    border-radius: 10px 10px 0 0
}

.chatbox .header img {
    width: 90px
}

.chatbot-btn {
    border: none;
    background: #2B5672;
    color: #fff;
    font-size: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 4%;
    right: 1%;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer
}

.chatbot-btn:hover {
    background: #3f7ca4
}

.chatbot-btn:focus {
    outline: none
}

.user-img {
    position: absolute;
    float: right;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid #CCC;
    right: 15px;
    top: 10px;
    object-fit: cover
}

.bot-img {
    position: absolute;
    left: 15px;
    top: 10px;
    float: left;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid #CCC;
    object-fit: cover
}

.user-msg {
    float: right;
    position: relative;
    width: 100%
}

.bot-msg {
    float: left;
    position: relative;
    width: 100%
}

.icon {
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 700
}

.card-panel img {
    width: 100%;
    height: 180px;
    object-fit: contain
}

.card-panel p {
    margin: 5px 0;
    font-family: inherit
}

.btn-link {
    background: none;
    color: #fff;
    border: none;
    padding: 0;
    margin: 0 0 5px;
    border-bottom: solid 1px #fff;
    font-weight: 700;
    cursor: pointer;
    display: block
}

.btn-link:focus,
.btn-link:hover {
    outline: none;
    color: #e6e1e1;
    border-bottom: solid 1px #e6e1e1;
    text-decoration: none
}

.card-1 {
    padding: 0!important;
    width: 240px!important;
    max-width: 72%!important
}

.card-1 .btn {
    margin: 0 10px 10px!important
}

.card-1>.card-1 {
    max-width: 100%!important
}

.card-1 img {
    width: 100%;
    max-height: 120px;
    border-radius: 8px 8px 0 0;
    object-fit: cover
}

.card-1 .myc-card-title {
    font-size: 16px;
    padding: 0 15px;
    margin: 10px 0 5px;
    font-weight: 700
}

.card-1 .myc-card-subtitle {
    padding: 0 15px;
    margin: 0 0 15px;
    line-height: 16px
}

.card-msg {
    padding: 5px 12px;
    display: block
}

video {
    width: 100%
}

.card-slider {
    background: none!important;
    padding: 0;
    box-shadow: none!important;
    width: 240px;
    color: #fff;
    font-size: 13px;
    line-height: 20px
}

.card-slider .btn {
    border: solid 1px #000;
    color: #000;
    background: #fff;
    border-radius: 6px;
    padding: 6px 8px;
    float: left;
    font-size: 13px;
    margin: 0 10px 6px;
    cursor: pointer;
    font-family: inherit
}

.card-slider .card-1 {
    background: #2B5672;
    border-radius: 8px
}

.card-slider .card-img {
    height: 150px;
    max-height: 150px
}

.card-1 h2 {
    font-size: 15px;
    padding: 0 15px;
    margin: 10px 0 0;
    font-weight: 700
}

.card-1 p {
    padding: 0 15px;
    margin: 0 0 10px;
    word-break: break-word;
    font-family: inherit
}

.card-1 h2.tooltip,
.card-1 p.tooltip {
    position: static;
    opacity: 1
}

.chatbox .card-panel.card-slider .btn {
    margin: 0 15px 10px
}

.tiptop {
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    padding: 10px;
    font: inherit;
    color: #fff;
    background: #333;
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px
}

iframe {
    width: 100%;
    border: none;
    height: 150px
}

.chatbot-overlay {
    display: none
}

.chat-area {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.btn-toggle {
    border: none;
    color: #fff;
    height: 55px;
    width: 55px;
    border-radius: 8px 8px 0 0;
    background: #2B5672;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 0 3px 5px 0 rgba(72, 72, 72, .85)
}

.btn-toggle:hover {
    background: #33739c
}

.btn-toggle:after {
    content: '';
    background: url(../../images/chatbot/chat-icon.png) no-repeat;
    position: absolute;
    left: 13px;
    top: 18px;
    height: 25px;
    width: 32px;
    background-size: contain
}

.minus:after {
    content: '';
    background: url(../../images/chatbot/close-icon.png) no-repeat;
    position: absolute;
    left: 12px;
    top: 17px;
    height: 15px;
    background-size: contain
}

.btn-toggle.plus.minus {
    right: 10px;
    z-index: 9999;
    top: -2px;
    height: 35px;
    width: 35px;
    background: none;
    box-shadow: none
}

button {
    cursor: pointer
}

button:focus {
    outline: none
}

