<head>
  <script>
    function openHelpDocument() {
      var myWindow = window.open('/FlowCoreIO_Help.pdf', "myWindow", 'width=900,height=700,left=550,right=0,top=150,status=yes,menubar=yes');
      myWindow.focus();
    }
  </script>
</head>
<nav class="navbar navbar-expand-md navbar-gredient fixed-top">
  <a class="navbar-brand" href="#">
    <img src="../../images/logo.png" width="200" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto" id="allHeaderTabs">
      <li class="nav-item " id="eventDashboard">
        <a class="nav-link" href="/eventDashbaord">Event State Dashboard</a>
      </li>
      <li class="nav-item" id="adminDashboard">
        <a class="nav-link" href="/dashboard">Operations Dashboard</a>
      </li>
      <li class="nav-item dropdown" id="adminSettings">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Intent
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/intentManagement">Intent Management</a>
          <a class="dropdown-item" href="/settings">Intent History</a>
          <a class="dropdown-item" href="/webScraper">Web Scraping</a>
        </div>
      </li>
      <li class="nav-item" id="adminUsers">
        <a class="nav-link" href="/userLists">Users</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav profile-view">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        <p>{{user.PublicScreenTag}} (Admin User)

        </p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" onclick="openHelpDocument()">Help</a>
        <a class="dropdown-item" href="/logout">Log out</a>
      </div>
    </li>
  </ul>
</nav>