body {
  background: #f6f6f8;
  color: $dark-grey;
}

.navbar-gredient {
  background-color: #fff;
  border-top: 3px solid $primary;
  box-shadow: 0px 5px 19px 0 #0000000a;

  .navbar-toggler {
    border: 1px solid #666666;

    .navbar-toggler-icon {
      background-image: url(../images/humbuger.png);
    }
  }

  .navbar-nav {
    li {
      padding: 0 20px;
      border-right: 1px solid #d8d8d8;

      &:last-child {
        border-right: 0px;
      }

      a {
        color: $dark-grey;
        position: relative;
        padding: 7px 10px;

        img {
          border: 1px solid #fff;
        }
        p {
          display: inline-block;
          margin-left: 10px;
          padding: 10px 0 0;
        }
      }

      &.active {
        a:after {
          width: 100%;
          content: "";
          height: 3px;
          background-color: #19caaa;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -23px;
        }
        @media only screen and (max-width: 600px) {
          a:after {
            content: none;
          }
        }
      }
      @media only screen and (max-width: 600px) {
        &.active {
          border-left: 2px solid #19caaa;
        }
      }
      .dropdown-menu a {
        color: #646464;

        &:active {
          color: #fff;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      li {
        border-left: 2px solid #fff;
      }
    }

    &.profile-view {
      position: relative;
      .dropdown-menu {
        border-radius: 0 0 0.25rem 0.25rem;
        border-top: 0;
        width: 100%;
        margin-top: 0.45rem;
        .dropdown-item {
          white-space: pre-line;
        }
      }
      &:before {
        content: "";
        width: 1px;
        height: 78px;
        background-color: #d8d8d8;
        left: 0;
        position: absolute;
        top: -7px;
      }
      @media only screen and (max-width: 600px) {
        &:before {
          content: none;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .navbar-nav {
      width: 100%;
      text-align: center;
    }
    .navbar-collapse {
      padding: 10px 0;

      a {
        text-align: left;
      }
    }
  }
}

.page-title {
  font-size: 19px;
  color: $dark-grey;
  font-weight: normal;
  margin: 20px 0;
}

.widget-card {
  background-color: #fff;
  padding: 30px 10px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 12px 2px #0000000a #0000000a;

  .widget-card-title {
    color: $dark-grey;
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 15px;
  }

  .form-submit-button {
    text-align: center;
    width: 100%;
    padding: 40px 40px 20px 40px;
    border-top: 1px solid #d7d8ee;
    margin-top: 40px;
  }
}

.profile-form {
  .widget-card {
    .pad-lr-40:first-child {
      border-right: 1px solid #d7d8ee;
    }
  }
}

.info-detail-title {
  font-size: 18px;
}

.info-display {
  border-top: 1px solid #d7d8ee;
  border-bottom: 1px solid #d7d8ee;
  padding: 20px 0px;

  .info-date-time {
    line-height: 40px;
    margin-bottom: 0;
  }

  .info-display-details .fa {
    padding-right: 10px;
    font-size: 40px;
    margin-top: -8px;
    margin: 0px;

    &.fa-check-circle {
      color: #16ce95;
    }
  }

  .col-md-6:first-child {
    border-right: 2px dashed #d7d8ee;
  }

  @media only screen and (max-width: 600px) {
    .pr-40,
    .pl-40 {
      padding: 15px 0;
      border: 0px !important;
    }
  }
}

.event-listing {
  @media only screen and (max-width: 600px) {
    .listing-table {
      width: auto;
      overflow-y: auto;
    }
  }
  table {
    margin-top: 30px;
    color: $dark-grey;
    font-size: smaller;
    width: 99.9%;
    tbody {
      background: #f6f6f8;
      tr {
        border: 0px solid #f6f6f8;
        border-top: 1px solid #f6f6f8;
        background: #fff;
        z-index: 1;
        position: relative;
        &:hover {
          border: 1px solid #19caaa;
          position: relative;
          z-index: 2;
        }
        th {
        }
        td {
          border: 0px;
        }
      }
    }
    th {
      font-size: 13px;
      vertical-align: text-bottom;
      font-weight: normal;
      border-bottom: 0px;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80%;
        display: inline-block;
      }
      i {
        display: inline-block;
        top: -3px;
        position: relative;
      }
    }
    td {
      span.timer-block {
        height: 20px;
        width: 6px;
        margin: 1px;
        border: 1px solid #a7a8b4;
        display: inline-block;

        &.time-active {
          background-color: #a7a8b4;
        }
      }
      &.monthly-timer {
        font-size: 0px;
        vertical-align: middle;
        white-space: nowrap;
      }
    }
  }
  .search-from {
    float: right;
    position: relative;
    margin-top: -10px;
    input {
      padding: 6px 17px;
      border-radius: 40px;
      width: 250px;
      box-shadow: 0 0 0 0;
      border: 1px solid #a7a8b4;
    }
    i {
      top: 12px;
      position: absolute;
      right: 17px;
      color: #a7a8b4;
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 600px) {
    .search-from {
      float: none;
      display: block;
      text-align: center;
      clear: both;
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

.round-btn {
  border-radius: 50px;
}
.btn-outline-danger {
  border: 1px solid #ff6a89;
  border-radius: 50px;
  padding: 5px 30px;
  float: right;
  color: #ff6a89;
}
.btn-outline-danger:hover {
  color: #fff;
}

.fa,
.fas {
  color: #a7a8b4;
}

// Helper Class Starts
.pt-80 {
  padding-top: 80px;
}

.pad-lr-40 {
  padding: 0 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.mt-40 {
  margin-top: 40px;
}
.cursor-pointer {
  cursor: pointer;
}
// Helper Class Ends
