.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 16px 15px 19px;
    margin-bottom: 0;
    /*transition: all 200ms;*/
    transition: all 0.5s ease-in-out;
    width: 100%;
    color: #a7a8b4;
  }
  input.form-control,
  select {
    line-height: 2rem;
    height: 3.5rem;
    color: $dark-grey;
    padding: 20px 15px 10px;
    width: 100%;
    box-shadow: 0 0 0 0;
    border-radius: 0;
    outline: none;
    border: 1px solid #ced4da;
    &:focus {
      border: 1px solid #144fb7;
    }
    &:focus + .form-control-placeholder,
    &:valid + .form-control-placeholder {
      font-size: 75%;
      transform: translate3d(0, -100%, 0);
      opacity: 1;
      padding: 0px 15px;
      margin-top: 25px;
    }
  }
}
