html,
body {
  height: 100%;
}

body.signup-signin {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: $body-bg;
  font-family: $poppins-regular;
  font-size: 14px;
}
a {
  color: $link;
}

.form-login {
  width: 100%;
  max-width: 80%;
  padding: 0px;
  margin: auto;
  .login-box {
    min-height: 478px;
    -webkit-box-shadow: 0px 0px 100px 8px #0000001c;
    -moz-box-shadow: 0px 0px 100px 8px #0000001c;
    box-shadow: 0px 0px 100px 8px #0000001c;

    border-radius: 8px;
    .login-leftbox {
      background: #fff;
      padding: 50px 30px;
      border-radius: 8px 0px 0px 8px;
      color: #656565;
      .form-control {
        border-color: #cdcdcd;
        border-radius: 0;
      }
      h4 {
        text-align: center;
      }
      .has-label {
        margin-bottom: 30px;
        .invalid-feedback,
        .valid-feedback {
          position: absolute;
          bottom: -18px;
        }
        .labelicon {
          position: absolute;
          text-align: center;
          width: 40px;
          top: 36%;
          font-size: 17px;
        }
        input,
        label {
          padding-left: 2.75rem;
        }
        /*input:not(:placeholder-shown) ~ label {
          padding-top: 0;
        }*/
      }
      .signin-btn {
        padding: 1rem 1rem;
        font-size: 14px;
        font-weight: bold;
      }
    }
    .login-rightbox {
      background: rgb(114, 82, 172);
      background: linear-gradient(
        90deg,
        rgba(114, 82, 172, 1) 0%,
        rgba(90, 78, 159, 1) 100%
      );
      border-radius: 0px 8px 8px 0px;
      -ms-flex-align: center;
      align-items: center;
      padding: 20px 20px;
      position: relative;
      h1 {
        font-family: $poppins-bold;
        font-size: 2.55rem;
      }
      h3 {
        font-family: $poppins-light;
        font-weight: normal;
        font-size: 1.55rem;
        span {
          font-size: 1.85rem;
          letter-spacing: 2.5px;
          margin-top: -5px;
        }
      }
    }
  }
  .loginbg {
    background: url(../images/login-right-img.png) center;
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: table;
    .login-welcome {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
    }
  }
}
.btn-primary {
  background: $secondary;
  border-color: $secondary;
  padding: 12px 40px;
  margin: 0 10px;
  width: 150px;
  font-size: 15px;
  letter-spacing: 1px;
  &:hover,
  &.hover,
  &:focus,
  &.focus {
    background: $secondary-hover;
    border-color: $secondary-hover;
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background: $secondary-hover;
    border-color: $secondary-hover;
  }
  &.cancel-btn{
    background: #707070;
    border: 1px solid #707070;
    color: #fff;
  }
  &:focus{
    box-shadow: 0 0 0 0
  }
}

.custom-control-label::before,
.custom-control-label::after {
  width: 1.25rem;
  height: 1.25rem;
}
.custom-checkbox .custom-control-label {
  line-height: 1.75rem;
  padding-left: 5px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  background: #fff;
  border-color: #6d6f96;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='rgb(25, 202, 170)' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
