@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Regular"),
    url("../../fonts/poppins-webfont/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Italic"),
    url("../../fonts/poppins-webfont/Poppins-Italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Thin"),
    url("../../fonts/poppins-webfont/Poppins-Thin.woff") format("woff");
}

@font-face {
  font-family: "Poppins Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Thin Italic"),
    url("../../fonts/poppins-webfont/Poppins-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins ExtraLight"),
    url("../../fonts/poppins-webfont/Poppins-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraLight Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins ExtraLight Italic"),
    url("../../fonts/poppins-webfont/Poppins-ExtraLightItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Light"),
    url("../../fonts/poppins-webfont/Poppins-Light.woff") format("woff");
}

@font-face {
  font-family: "Poppins Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Light Italic"),
    url("../../fonts/poppins-webfont/Poppins-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Medium"),
    url("../../fonts/poppins-webfont/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Medium Italic"),
    url("../../fonts/poppins-webfont/Poppins-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins SemiBold"),
    url("../../fonts/poppins-webfont/Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins SemiBold Italic"),
    url("../../fonts/poppins-webfont/Poppins-SemiBoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Bold"),
    url("../../fonts/poppins-webfont/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "Poppins Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Bold Italic"),
    url("../../fonts/poppins-webfont/Poppins-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins ExtraBold"),
    url("../../fonts/poppins-webfont/Poppins-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins ExtraBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins ExtraBold Italic"),
    url("../../fonts/poppins-webfont/Poppins-ExtraBoldItalic.woff")
      format("woff");
}

@font-face {
  font-family: "Poppins Black";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Black"),
    url("../../fonts/poppins-webfont/Poppins-Black.woff") format("woff");
}

@font-face {
  font-family: "Poppins Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Black Italic"),
    url("../../fonts/poppins-webfont/Poppins-BlackItalic.woff") format("woff");
}
