// bg color
$body-bg: #F6F6F8; // Body background
$primary: rgb(20, 79, 183); // Primary
$primary-hover: rgba(20, 79, 183, 0.8); //Primary hover
$secondary: rgb(25, 202, 170); // Secondary
$secondary-hover: rgba(25, 202, 170, 0.8); // Secondary
$link: #144fb7;
$text-dark: #1a1f3d;
$dark-grey:#646464;

// fonts-family
$poppins-regular: "Poppins Regular", sans-serif;
$poppins-light: "Poppins Light", sans-serif;
$poppins-bold: "Poppins Bold", sans-serif;
