<main class="pt-50 profile-form">
  <div class="container-fluid">
    <h3 class="page-title">Event State Dashboard</h3>
  </div>
  <div class="info-display">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 pr-40">
          <h4 class="info-detail-title">
            Last Known Reset
            <span>
              <i class="deactiveIcon fa fa-info-circle cursor-pointer" aria-hidden="true" tabindex="0"
                data-toggle="tooltip" title="It shows a time of last reset of event state."></i>
            </span>
          </h4>
          <div class="info-display-details">
            <p>Status:</p>
            <i class="fa fa-check-circle float-left" aria-hidden="true"></i>
            <p class="float-left info-date-time" id="lastKnownReset"></p>
            <!--a class="btn">Reset</a-->
            <button type="button" id="resetLastKnown" class="btn btn-sm mt-1 btn-outline-danger round-btn">
              Reset Now
            </button>
          </div>
        </div>
        <div class="col-md-6 pl-40">
          <h4 class="info-detail-title">
            Critical Response
            <span>
              <i class="deactiveIcon fa fa-info-circle  cursor-pointer" aria-hidden="true" tabindex="0"
                data-toggle="tooltip" title="Critical Response"></i>
            </span>
          </h4>
          <div class="info-display-details">
            <p>Status:</p>
            <i id="iconColor" class="deactiveIcon fa fa-exclamation-circle float-left" aria-hidden="true"></i>

            <p id="demo" class="float-left  info-date-time">

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="event-listing mt-40">
    <div class="container-fluid">
      <h4 class="info-detail-title float-left">
        Event Listing
        <span>
          <i class="deactiveIcon fa fa-info-circle cursor-pointer" aria-hidden="true" tabindex="0" data-toggle="tooltip"
            title="This will shows the list of events and its attrubutes."></i>
        </span>
      </h4>
      <div class="search-from">
        <input type="text" id="searchEvent" placeholder="Search..." />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="clearfix"></div>
      <div class="table-responsive">
        <table class="table table-striped" id="eventList">
          <thead>
            <tr>
              <th>Time Stamp <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Public Screen Tag <i class="fa fa-sort" aria-hidden="true"></i> </th>
              <th>UTC Time Zone <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th class="text-center">UTC Offset <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th class="text-center">Accum Reset Count <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Last Known Reset <i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Last 30 Days of Reset Activity</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  </main>
<script src="../../devJs/witness/eventDashboard.js"></script>