<main class="pt-50 profile-form">
  <div class="container-fluid">
    <h3 class="page-title">Event State Maintenance</h3>
  </div>
  <div class="info-display border-bottom-0">
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="eventstate-info col-md-3">
          <h4 class="info-detail-title">Last Known Reset</h4>
          <div class="info-display-details">
            <p class="info-date-time" id="LastKnownEventState"></p>
          </div>
        </div>

        <div class="eventstate-info col-md-3">
          <h4 class="info-detail-title">Current Event Expiry</h4>
          <div class="info-display-details">
            <p class="info-date-time" id="CurrentEventExpiryDateTime"></p>
          </div>
        </div>

        <div class="eventstate-info col-md-3">
          <h4 class="info-detail-title">Current Date Time:</h4>
          <div class="info-display-details">
            <p class="info-date-time" id="CurrentDateTime"></p>
          </div>
        </div>

        <div class="eventstate-info col-md-3">
          <h4 class="info-detail-title">Is Within Policy:</h4>
          <div class="info-display-details">
            <p class="info-date-time" id="IsWithinPolicy"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="event-listing mt-3">
    <div class="container-fluid">
      <form id="eventMaintenance" name="eventMaintenance">
        <div class="widget-card">
          <div class="row pad-lr-25">
            <div class="col-lg-12 col-sm-12">
              <h2 class="widget-card-title">Event State Maintenance</h2>
            </div>
          </div>
          <div class="row pad-lr-25">
            <div class="col-lg-6 col-sm-12">
              <div class="form-row">
                <div class="col-md-12 form-group">
                  <input type="text" id="intentName" class="form-control" value="{{intentName}}" readonly>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <h4 class="info-detail-title">From:</h4>
                      <div class="input-group date calendar" id="fromDate">
                        <input id="fromRange" type="text" class="form-control" required="">
                        <div class="input-group-addon input-group-append">
                          <div class="input-group-text greytext">
                            <i class="fas fa-calendar-alt"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-group">
                      <h4 class="info-detail-title">To:</h4>
                      <div class="input-group date calendar" id="toDate">
                        <input id="toRange" type="text" class="form-control" required="">
                        <div class="input-group-addon input-group-append">
                          <div class="input-group-text greytext">
                            <i class="fas fa-calendar-alt"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-group">
                      <h4 class="info-detail-title">Intent State:</h4>
                      <select class="dashboard-select " id="state" name="stateList" size='1'>
                        <option value="0">False</option>
                        <option value="1">True</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-group">
                      <h4 class="info-detail-title">Intent Language:</h4>
                      <select class="dashboard-select " id="language" name="languageList" size='1'>

                      </select>
                    </div>
                    <div class="col-md-6 form-group">
                      <h4 class="info-detail-title">User Control:</h4>
                      <select class="dashboard-select " id="userControl" name="userControlList" size='1'>
                        <option value="0">False</option>
                        <option value="1">True</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-group">
                      <h4 class="info-detail-title">Is Active:</h4>
                      <select class="dashboard-select " id="active" name="activeList" size='1'>
                        <option value="0">False</option>
                        <option value="1">True</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="form-row">
                <div class="col-md-12 form-group" for="message">
                  <textarea rows="7 " id="message" class="form-control" name="defaultResponse" required
                    onkeypress="return alphaonly(event)"></textarea>
                  <div class="valid-feedback">Looks good!</div>
                  <div class="invalid-feedback">
                    Please provide a valid message.
                  </div>
                </div>
                <div class="col-md-12 alert alert-danger" id="alert-danger">
                  These = ' <> , special characters are not allowed !
                </div>
                <div class="col-md-12 intentStateDashboardCheckBoxValue" id="intentStateDashboardCheckBoxValue">
                  <p class="intentStateDashboardStyle"><input id="intentStateCheckBoxOneValue" type="checkbox" value="OrganizationName"> OrganizationName </p>
                  <p class="intentStateDashboardStyle"><input id="intentStateCheckBoxTwoValue" type="checkbox" value="ProfileDemographic_Full"> ProfileDemographic_Full </p>
                  <p class="intentStateDashboardStyle"><input id="intentStateCheckBoxThreeValue" type="checkbox" value="ProfileDemographic_Short"> ProfileDemographic_Short</p>
                  <p class="intentStateDashboardStyle"><input id="intentStateCheckBoxFourValue" type="checkbox" value="FollowUpVideoURI"> FollowUpVideoURI </p>
                  <p class="intentStateDashboardStyle"><input id="intentStateCheckBoxFiveValue" type="checkbox" value="FollowUpWebPageURI"> FollowUpWebPageURI </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-sm-12 pad-lr-40 border-0">
              <div class="form-submit-button">
                <button type="button" class="btn btn-primary btn-lg" type="submit" id="updateIntent">
                  SAVE
                </button>
                <button type="button" class="btn btn-primary btn-lg cancel-btn" id="backToIntentList"
                  onclick="window.location.href = '/intentManagement';">
                  CANCEL
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="clearfix"></div>
</main>
<script src="../../devJs/witness/eventStateMaintenance.js"></script>